* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}
html {
  font-size: 62.5%;
}
body {
    min-height: 100vh;
    position: relative;
  font-family: "Goldman", cursive;

}
h1{
  font-family: "Goldman", cursive;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

main{
  margin-top: 11rem;
}

.INDEX{
  background-image:url(img/background.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  color:white;
}
.sql{
  background-color: black;
  height: 90vh;
  width: 100vw;
  color: white;
}
.Java{
  background-color: black;
  height: 90vh;
  width: 100vw;
  color: white;
}

footer{
  background: #00a8c7;
  height: 10vh;
  color: white;
position: absolute;
width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
}
img{
  
}