* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}
html {
  font-size: 62.5%;
}
body {
    min-height: 100vh;
    position: relative;
  font-family: "Goldman", cursive;

}
h1{
  font-family: "Goldman", cursive;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

main{
  margin-top: 11rem;
  padding: 20px;
}

.INDEX{
  background-image:url(img/background.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  color:white;
}
.sql{
  background-color: black;
  height: 90vh;
  width: 100vw;
  color: white;
}
.Java{
  background-color: black;
  height: 90vh;
  width: 100vw;
  color: white;
}

footer{
  background: #00a8c7;
  height: 10vh;
  color: white;
position: absolute;
width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: x-large;
}
main{
  display: flex;
}
.html{
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

p{
  font-size: larger;
}
.no2{
  display: flex;
  flex-direction: row-reverse;
  max-height: 30vh;
  
}
.no23{
 display: flex;
 justify-content: flex-end;
 max-height: fit-content;

}
.php{
  display: flex;
  justify-self: flex-end;
  width: 50%;
}
.img{
 display: flex;
 justify-content: flex-end;
}
.no3{
  display: flex;
  justify-content: flex-start;
  font-size: larger;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #00a8c7;
}

li a{
  color: white;
  text-decoration: none;
 display: inline-block;
 
}
.dropdown-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#E9E9E9 ;
  color: #00a8c7;
  min-width: 20vw;
  z-index: 1;

}
.dropdown-content a{
  color: #00a8c7;
  display: block;
  text-align: right;
  padding: 0.8rem 1rem;
}
.dropdown:hover .dropdown-content{
  display: block;
}